<div id="MainContent" class="container text-center">
	<h1>About This Project</h1>
	<p>Built by Jared Hettinger</p>
	<ul class="tech-badges">
		<li>
			<a href="https://angular.io/" rel="noreferrer" target="_blank">
				<img
					alt="Angular"
					class="tech-badge"
					src="/assets/images/tech-badges/angular.png"
				/>
			</a>
		</li>
		<li>
			<a href="https://html.spec.whatwg.org/" rel="noreferrer" target="_blank">
				<img
					alt="HTML5"
					class="tech-badge"
					src="/assets/images/tech-badges/html5.png"
				/>
			</a>
		</li>
		<li>
			<a href="https://www.w3.org/Style/CSS/" rel="noreferrer" target="_blank">
				<img
					alt="CSS3"
					class="tech-badge"
					src="/assets/images/tech-badges/css3.png"
				/>
			</a>
		</li>
		<li>
			<a href="https://getbootstrap.com/" rel="noreferrer" target="_blank">
				<img
					alt="Bootstrap"
					class="tech-badge"
					src="/assets/images/tech-badges/bootstrap.png"
				/>
			</a>
		</li>
		<li>
			<a
				href="https://www.typescriptlang.org/"
				rel="noreferrer"
				target="_blank"
			>
				<img
					alt="TypeScript"
					class="tech-badge"
					src="/assets/images/tech-badges/ts.png"
				/>
			</a>
		</li>
	</ul>
	<p style="text-align: start">
		This project is built in Angular following HTML5 and CSS3 best practices.
		The project utilizes TypeScript for static typing and reliable refactoring.
		Bootstrap is installed to provide a responsive UI. Not included in the site
		itself but still incredibly helpful is the
		<a href="https://angular.io/cli" rel="noreferrer" target="_blank"
			>Angular CLI</a
		>
		to generate and manage files.
	</p>
	<p style="text-align: start">
		If you are using Safari or Firefox on macOS and this site is not behaving as
		expected, you might want to check your system settings. You can find more
		details about this on
		<a
			href="https://stackoverflow.com/questions/11704828/how-to-allow-keyboard-focus-of-links-in-firefox/11713537#11713537"
			rel="noreferrer"
			target="_blank"
		>
			Stack Overflow </a
		>.
	</p>
	<ul class="social-links">
		<li>
			<a
				href="https://www.github.com/kafkaesc"
				rel="noreferrer"
				target="_blank"
			>
				<img
					alt="GitHub"
					class="soc-icon"
					src="/assets/images/social/github.png"
				/>
			</a>
		</li>
		<li>
			<a
				href="https://www.twitter.com/_kafkaesc"
				rel="noreferrer"
				target="_blank"
			>
				<img
					alt="Twitter"
					class="soc-icon"
					src="/assets/images/social/twitter.png"
				/>
			</a>
		</li>
		<li>
			<a href="https://instagram.com/kafkaesc" rel="noreferrer" target="_blank">
				<img
					alt="Instagram"
					class="soc-icon"
					src="/assets/images/social/instagram.png"
				/>
			</a>
		</li>
	</ul>
</div>
