<header class='bg-dark'>
    <div class='container'>
        <div class='d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start'>
            <a routerLink=''>
                <img id='nav-logo' src='assets/images/mft-light.png' alt='The MFT logo' />
            </a>
            <ul class='nav main-nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0'>
                <li>
                    <a [href]='this.mainContentLink' 
                       (focus)='updateLink()' 
                       (mouseover)='updateLink()'
                       class='skip-to-main-content nav-link'>Skip to main content</a>
                </li>
                <li><a routerLink='/Dev' class='nav-link'>Dev Sites</a></li>
                <li><a routerLink='/ShortStories' class='nav-link'>Short Stories</a></li>
                <li><a routerLink='/YouTube' class='nav-link'>YouTube Channels</a></li>
                <li><a routerLink='/About' class='nav-link'>About</a></li>
            </ul>
        </div>
    </div>
</header>
