<div id='MainContent' class='container'>
    <h1>My Favorite Things</h1>
    <h2 class='subheading'>A practice on accessibility</h2>
    <p>
        Welcome to My Favorite Things! This website is a demonstration of how to implement a 
        reliable <a href='https://www.w3.org/TR/WCAG20-TECHS/G1.html'>skip to main content</a> 
        button using the Angular framework. This button is not always necessary, but on pages 
        with large headers it can be an important quality of life improvement for 
        keyboard-focused and keyboard-dependent users.
    </p>
    <p>
        If you tab through the page using only your keyboard you'll notice a hidden button will 
        appear after the MFT logo. Hitting enter will make your cursor skip to the main content 
        of whichever page you're on.
    </p>
    <p>
        There is also a secondary navigation menu demostrating the typical methods 
        one might use to implement the link. You can open the menu by hitting enter on 
        'Show Skip Demos.' You can return to the beginning of that menu to try other links by 
        hitting enter on the back link at the end of the menu. So far only [href] calling a string 
        from the component's TypeScript works as a reliable implementation.
    </p>
</div>
