<div>
    <main-nav></main-nav>
    <skip-nav></skip-nav>
    <div id='MainContent' class='container'>
        <h1>My Favorite Things</h1>
        <h2 class='subheading'>A practice on accessibility</h2>
        <p>
            Welcome to My Favorite Things! This website is a demo for how to effectively implement 
            a <a href='https://www.w3.org/TR/WCAG20-TECHS/G1.html'>skip to main content</a> link 
            in Angular.
        </p>
        <p>
            If you tab through the page using only your keyboard you'll notice a hidden button will 
            appear after the MFT logo. Hitting enter will nake your cursor skip to the main content 
            of whichever page you're on.
        </p>
        <p>
            There is also a secondary navigation menu demostrating different possible methods for 
            implementing the link. You can open the menu by hitting enter on 'Show Skip Demos.' If 
            you want to return to the beginning of that menu to try other links, you can hit enter 
            on the back link at the end of the menu.
        </p>
    </div>
</div>