.short-story-card {
    text-decoration: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

.short-story-card:hover, .short-story-card:focus {
    text-decoration: underline;
}

.sh-title {
    font-size: 1.25em;
    margin-bottom: 0;
} 

.sh-author {
    font-style: italic;
    margin-bottom: 0;
}